= simple_form_for @user do |f|
  = f.error_notification

  = f.input :name

  .form-actions
    = f.submit t('.save',default:'Save'), class: 'btn btn-primary'
    = link_to t('.cancel',default:'Cancel'), :back, class: 'btn'

