.well
  .pull-right
    %a.btn.btn-large.btn-primary(href=new_user_path)
      %i.icon-plus-sign.icon-white
      = t('.new')

  %h1= User.model_name.human.pluralize

%table.table.table-striped.table-bordered
  %thead
    %th= User.human_attribute_name(:name)
    %th= User.human_attribute_name(:created_at)

  %tbody
    - for user in @users
      %tr
        %td= link_to user.name, user_path(user)
        %td= l(user.created_at,format: :short)

= paginate @users

