.well
  .pull-right
    %a.btn.btn-large(href="#{edit_user_path(@user)}")
      %i.icon-edit
      = t('.edit')

  %h1 User#show

%dl
  %dt= User.human_attribute_name :name
  %dd= @user.name

  %dt= User.human_attribute_name :created_at
  %dd= l(@user.created_at,format: :short)

%hr/

%h2
  User's comments

%table.table.table-bordered.table-striped
  %thead
    %th Comments

  %tbody
    - for comment in @user.comments.order('created_at desc')
      %tr
        %td
          = simple_format(comment.body)
          %br/
          %small
            = l(comment.created_at, format: :short)


%h2 New Comment
= simple_form_for(Comment.new,url:user_comments_path(@user)) do |f|
  = f.error_notification

  = f.input :body, as: :text, input_html: { class: 'input-xxlarge', rows: 8 }

  .form-actions
    = f.submit t('.save',default:'Save'), class: 'btn btn-primary'
    = link_to t('.cancel',default:'Cancel'), :back, class: 'btn'

